/*ALL PAGES*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #faebd7;
  position: relative;
  padding-bottom: 300px;
  min-height: 100vh;
}
/*UNIVERSAL*/
/*header*/
body header{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
header{
  background: #FFFFFF;
  height: 100px;
  width: 100%;
}
.header-body{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  max-width: 1200px;
  margin: 0 auto;
}
.logo-container{
  display: flex;
  align-items: center;
  height: 100px;
}
.logo-img{
  width: 120px;
  margin-left: -25px;
}
.logo-text-container{
  margin-left: -16px;
}
.logo-text{
  color: #000000;
  font-size: 1.2rem;
}
.logo-text-science{
  color: #FF8C1A;
}
header nav{
  z-index: 10;
}
header nav ul li{
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}
header nav ul li a{
  color: #000000;
  font-size: 1.2rem;
  padding: 0 10px;
}
a.active, nav a:hover{
  color: #FF8C1A;
  transition: 0.3s;
}
.menu{
  font-size: 1.5rem;
  color: #000000;
  margin-top: 35px;
  cursor: pointer;
  display: none;
  user-select: none;
}
#menu-checkbox{
  display: none;
}
/*hero (konsept tatt fra:https://www.youtube.com/watch?v=KE-LlEWaaGE)*/
.hero{
  width: 100%;
  height: 120px;
  background-color: none;
  background-size: cover;
  position: relative;
  grid-area: hero;
}
.hero-img1{
  background-image: url(images/visit-hero-mobile.jpg);
  background-position: center;
}
.hero-img2{
  background-image: url(images/explore-hero-mobile.jpg);
  background-position: right top;
  background-repeat: no-repeat;
}
.hero-img3{
  background-image: url(images/about-hero.jpg);
  background-position: center;
  max-width: 1200px;
  margin: 0 auto;
}
.hero > h1{
  font-size: 2.2rem;
  color: #FFFFFF;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-top: 2.1em;
  padding-left: 2%;
  background-image: linear-gradient(to right,#FF8C1A 30%,#ff8d1a00 60%);
}
/*main*/
.main-padding{
  margin: 0 2%;
}
/*footer*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #FFFFFF;
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2%;
  grid-template-areas: 
    "footer1 footer2 footer3"
    "footer1 footer4 footer3"
  ;
}
.footer-flex{
  display: flex;
  flex-direction: column;
}
.footer-links{
  grid-area: footer1;
}
.footer-links ul li{
  padding-bottom: 7px;
}
.footer-links ul li a{
  color: #000000;
}
.footer-links ul li a:hover{
  text-decoration: underline;
  color: #FF8C1A;
}
.footer-location{
  grid-area: footer2;
}
.footer-contact{
  grid-area: footer4;
  margin-top: 20px;
}
.footer-socials{
  grid-area: footer3;
  margin-left: 20px;
}
.footer-socials i{
  color: #000000;
  font-size: 1.6em;
  padding-bottom: 12px;
}
.footer-heading, .footer-text{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.footer-heading{
  font-weight: 700;
  font-size: 1.25rem;
  padding: 5px 0;
}
.footer-text{
  font-weight: 400;
  font-size: 1.1rem;
}
/*visibility hidden*/
.hidden{
  display: none;
}
/*HOME*/
.home-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1.4rem;
  grid-template-areas: 
    "ibc ibc ibc ibc ibc ibc"
    "isc1 isc1 isc2 isc2 isc3 isc3"
    "ih1 ih1 ih1 ih1 ih1 ih1"
    "imc1 imc1 imc1 imc2 imc2 imc2"
    "ih2 ih2 ih2 ih2 ih2 ih2"
    "ipe1 ipe1 ipe2 ipe2 ipe3 ipe3"
  ;
}
.home-grid-container h2{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 20px;
}
.index-big-card{
  background-color: #FFFFFF;
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.ibc-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ibc-text{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 1.5rem;
}
.index-big-card p{
  margin-bottom: 20px;
}
.index-small-card{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}
.index-small-card:hover{
  transform: scale(1.01);
}
.isc-img{
  height: 250px;
}
.isc-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.isc-content h2{
  background: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2px;
}
.index-medium-card{
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.index-medium-card p{
  margin-bottom: 20px;
}
.imc-img{
  height: 300px;
}
.imc-img img{
  width: 100%;
  height: 100%;
}
.contain-img img{
  object-fit: contain;
}
.cover-img img{
  object-fit: cover;
}
#ibc{
  grid-area: ibc;
}
#isc1{
  grid-area: isc1;
}
#isc2{
  grid-area: isc2;
}
#isc3{
  grid-area: isc3;
}
#ih1{
  grid-area: ih1;
}
#imc1{
  grid-area: imc1;
}
#imc2{
  grid-area: imc2;
}
#ih2{
  grid-area: ih2;
}
#ipe1{
  grid-area: ipe1;
}
#ipe2{
  grid-area: ipe2;
}
#ipe3{
  grid-area: ipe3;
}
/*EXPLORE*/
.explore-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1.6rem;
  grid-template-areas:
    "hero hero hero"
    "eheader1 eheader1 eheader1"
    "ecard1 ecard2 ecard3"
    "ecard4 ecard5 blank"
    "eheader2 eheader2 eheader2"
    "e2card1 e2card2 e2card3"
  ;
}
.eheader{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-top: 10px;
}
.explore-card{
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.explore-card-image{
  height: 250px;
  background-position: center;
}
.explore-card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.explore-card-content{
  padding: 1rem 1.2rem;
  padding-bottom: 70px;
}
.explore-card-content h3{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 6px;
}
.explore-card-content p{
  color: #000000e0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
}
.explore-card-content .learn-more-btn{
  display: inline-block;
  padding: 8px 16px;
  background-color: #FF8C1A;
  text-decoration: none;
  border-radius: 4px;
  margin: 16px 0;
  color: #000000d2;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  font-weight: 400;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
}
.learn-more-btn{
  position: absolute;
  bottom: 0;
}
.explore-card-content .learn-more-btn:hover{
  text-decoration: underline;
}
#exhibition-spaces{
  grid-area: eheader1;
}
#cosmology{
  grid-area: ecard1;
}
#evolution{
  grid-area: ecard2;
}
#biology-and-medicine{
  grid-area: ecard3;
}
#robotics-and-ai{
  grid-area: ecard4;
}
#ecology{
  grid-area: ecard5;
}
#special-events{
  grid-area: eheader2;
  margin-top: 20px;
}
#visiting-professor-of-aeronautics{
  grid-area: e2card1;
}
#night-in-the-museum{
  grid-area: e2card2;
}
#energetica-exhibition-on-loan{
  grid-area: e2card3;
}
/*VISIT*/
/*main*/
.visit-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 1.2rem;
  grid-template-areas: 
    "hero hero hero hero"
    "content1 content1 content1 sidebar"
    "content2 content2 content2 sidebar"
    "content3 content3 content3 sidebar"
    "content4 content4 content4 sidebar"
    "content5 content5 content5 content5"
  ;
}
.visit-text > h2{
  font-size: 1.6rem;
  color: #000000;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.visit-text > p{
  font-size: 1.2rem;
  color: #000000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-top: 12px;
  padding-bottom: 8px;
}
#opening-hours{
  background: #FFFFFF;
  border: #000000;
  border-width: 2px;
  border-style: solid;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
#admission{
  grid-area: content1;
}
#accessibility{
  grid-area: content2;
}
#food-and-drink{
  grid-area: content3;
}
#shop{
  grid-area: content4;
}
#location{
  grid-area: content5;
}
.location-container iframe{
  width: 100%;
  height: 500px;
}
/*ABOUT*/
.about-grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 600px;
  margin: 0 auto;
  grid-gap: 1.2rem;
  grid-template-areas:
    "ac1"
    "ac2"
    "ac3"
  ;
}
#ac1{
  grid-area: ac1;
}
#ac2{
  grid-area: ac2;
}
#ac3{
  grid-area: ac3;
}
/*MEDIA QUERIES*/
@media (max-width: 700px){
/*header*/
  .menu{
    display: block;
  }
  header ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    top: 100px;
    right: 0;
    text-align: center;
    display: none;
  }
  header nav ul li{
    display: block;
  }
  header nav ul li a{
    font-weight: 500;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  #menu-checkbox:checked ~ ul{
    display: block;
  }
/*home main*/
  .home-grid-container{
    grid-template-columns: 1fr;
    grid-gap: 1.4rem;
    grid-template-areas: 
      "ibc"
      "isc1" 
      "isc2"
      "isc3"
      "ih1"
      "imc1"
      "imc2"
      "ih2"
      "ipe1" 
      "ipe2"
      "ipe3"
    ;
  }
/*explore main*/
  .explore-grid-container{
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "eheader1"
      "ecard1" 
      "ecard2" 
      "ecard3"
      "ecard4"
      "ecard5"
      "eheader2"
      "e2card1"
      "e2card2" 
      "e2card3"
    ;
  }
/*visit main*/
  .visit-grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "content4"
    "content5"
    ;
  }
  #opening-hours{
    justify-content: flex-start;
    background: none;
    border-style: none;
    padding: 0 0;
  }
}
@media (min-width: 701px max-width: 1199px){
/*header*/
  .header-body{
    padding: 0 2%;
  }
/*main*/
  .main-padding{
    margin: 0 5%;
  }
}
@media (min-width: 1200px){
/*header*/
  .header-body{
    padding: 0 0;
  }
/*footer*/
  .footer-container{
    padding: 1rem 0;
  }
}
@media (min-width: 701px){
  header nav ul li a{
    font-size: 1.4rem;
    padding-left: 40px;
  }
  .hero, .hero > h1{
    height: 240px;
    font-size: 3rem;
    padding-top: 3.5em;
  }
}



